/* Global styles */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Poppins", sans-serif;
}

h1 {
	font-size: 2.6rem;
}

li, button, label, input, p {
	font-size: 2rem;
}

h2 {
	font-size: 4.8rem;
}

h3 {
	font-size: 3rem;
	font-weight: 400;
}

h4, h5 {
	font-size: 2.8rem;
}

a {
	color: #ffffff;
	text-decoration: none;
}

.warning {
	background-color: #131c27;
	color: white;
}

.warning-text {
	font-size: 1rem;
	text-align: center;
	width: 90%;
	margin: auto;
	padding: 0.5rem 0;
}

/* Navigation banner with button */

.nav-container {
	background-color: #7D26CD;
	color: #ffffff;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.nav-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* ---- Image header ---- */

.header-og {
	display: flex;
	// justify-content: center;
	position: relative;
}

.header-product {
	position: absolute;
    top: 30%;
    left: 21%;
}

/* ---- Form ---- */
.form-container {
	padding: 0 5rem;
}

.container {
	margin: 0 auto;
	max-width: 68.75rem;
	padding: 0 2.25rem;
}

.form-section {
	margin-top: 3.375rem;
	padding: 2.25rem 5.625rem;
	position: relative;
}

.form-section__title {
	background: #ffffff;
	color: #8696aa;
	font-size: 1.875rem;
	font-weight: 400;
	margin-left: -1.125rem;
	padding: 1.125rem;
	position: absolute;
	top: -2.8125rem;
}

.label {
	color: #505050;
	cursor: pointer;
	font-size: 1.25rem;
	font-weight: 600;
	margin-bottom: 2rem !important;
	max-width: 100%;
}

.m-b {
	margin-bottom: 1.125rem;
}

.row {
	display: flex;
	justify-content: space-between;
}

.input {
	border: 1px solid #a7a7a7;
	border-radius: 4px;
	box-sizing: border-box;
	color: inherit;
	display: block;
	font-size: 1rem;
	font-weight: 300;
	margin-top: 0.4rem;
	max-width: 100%;
	padding: 1.4rem;
	height: 1.25rem;
}

.input:focus {
	outline: none;
}

input[type="text"], input[type="password"] {
	width: 25rem;
	margin-bottom: 0.8rem;
}

input[type="submit"] {
	cursor: pointer;
	font-size: 0.8rem;
}

.fw {
	width: 100%;
}

.a {
	text-decoration: none;
	color: #505050;
	border-bottom: 1px solid #fb133a;
	font-size: 1.125rem;
	font-weight: 400;
}

.a:hover {
	border-bottom: 1px solid #505050;
}

/* ---- Button ---- */

.btn {
	border-bottom: 5px solid;
	border-radius: 4px;
	box-sizing: border-box;
	color: #ffffff;
	display: inline-block;
	line-height: 1.8;
	padding: 0.6rem 2rem;
	text-transform: uppercase;
}

.btn.btn--active {
	background-color: #fb133a;
	border-color: #f0042c; }
	.btn.btn--active:hover {
	background-color: #f0042c;
}

.p-with-a {
color: #505050;
font-size: 1.125rem;
font-weight: 400;
}

.form-container-title {
	text-transform: uppercase;
}

.step {
	color: #FF8718;
}
